<template>
  <img :src="image" class="image">
</template>

<script>

export default {
  async asyncData({ params }) {
    const image = 'https://firebasestorage.googleapis.com/v0/b/nuxt-firebase-sample-8d5cc.appspot.com/o/images%2Fkobu-agency-67L18R4tW_w-unsplash.jpg?alt=media&token=97238b80-aada-4c42-a641-7dae77d2cf30';
    return { image };
  },
  head() {
    return {
      title: "Top",
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        { hid: 'og:title', property: 'og:title', content: 'SSR Sample' },
        { hid: 'og:description', property: 'og:description', content: 'Top Top Top' },
        { hid: 'og:image', property: 'og:image', content: this.image },
      ]
    };
  }
}
</script>
