<template>
  <img :src="image" class="image">
</template>

<script>

export default {
  async asyncData({ params }) {
    const image = 'https://firebasestorage.googleapis.com/v0/b/nuxt-firebase-sample-8d5cc.appspot.com/o/images%2Fadi-goldstein-mDinBvq1Sfg-unsplash.jpg?alt=media&token=36569056-9de9-4b9a-9486-194ce13662ee';
    return { image };
  },
  head() {
    return {
      title: "Other",
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        { hid: 'og:title', property: 'og:title', content: 'SSR Sample' },
        { hid: 'og:description', property: 'og:description', content: 'Other Other Other' },
        { hid: 'og:image', property: 'og:image', content: this.image },
      ]
    };
  }
}
</script>
