<template>
  <section class="container">
    <div class="title topbar">
      Firebase SSR Sample
    </div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Top</a></li>
        <li><a href="/other">Other</a></li>
      </ul>
    </nav>
    <nuxt />
  </section>
</template>

<style>
html {
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.topbar {
  padding: 16px;
}

.image {
  max-width: 600px;
  max-height: 600px;
}
</style>
